@model Neatburguer.Models.ViewModels.PromocionesViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@* <section class="menu1">
    <img src="~/hamburguesas/@(Model.id).png" asp-append-version />
    <div class="datos">
        <h3>
            <del>@Model.Promociones.</del>
            <b>$100.99</b>
        </h3>
        <h2>CUARTO DE LIBRA CON QUESO</h2>
        <p>Un cuarto de libra de carne de res con dos rebanas de queso, cebolla, pepinillos, mostaza y una porción de tomate, todo en un pan con ajonjolí.</p>
    </div>
    <span>
        <a href="promociones.html">&lt;</a>
        <a href="promociones.html">&gt;</a>
    </span>
</section>
 *@