@model Neatburguer.Models.ViewModels.PromocionesViewModel
@{
    ViewData["Title"] = "Promociones";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="menu1">
    <img src="~/hamburguesas/@(Model.Promociones.ElementAt(Model.PrimerHambuMostrada).Id).png" />
        <div class="datos">
            <h3>
               <del>@String.Format("{0:C}", Model.Promociones.ElementAt(Model.PrimerHambuMostrada).Precio)</del>
               <b>@String.Format("{0:C}", Model.Promociones.ElementAt(Model.PrimerHambuMostrada).PrecioDePromocion)</b>
            </h3>
            <h2>@Model.Promociones.ElementAt(Model.PrimerHambuMostrada).Nombre</h2>
            <p>@Model.Promociones.ElementAt(Model.PrimerHambuMostrada).Descripcion</p>
         </div>
         <span>
             @if (Model.PrimerHambuMostrada > 0)
             {
                 <a href="~/Promociones/Index?id=@(Model.PrimerHambuMostrada - 1)">&lt;</a>
             }

             @if (Model.PrimerHambuMostrada < Model.Promociones.Count() - 1)
             {
                 <a href="~/Promociones/Index?id=@(Model.PrimerHambuMostrada + 1)">&gt;</a>
             }
          </span>
</section>
    