<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Neat Burguer</title>
</head>
<body>
    <header>
        <nav>
            <a href="~/">Principal</a>
            <a href="~/promociones">Promociones</a>
            <a href="~/menu">Menú</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>