@model Neatburguer.Areas.Admin.Models.ViewModels.AggPromocionViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AgregarPromo";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<form method="post" action="~/Admin/Menu/AgregarPromo">
    <h1>Agregar un descuento de promoción</h1>
    <input type="hidden" asp-for="Id"/>
    <span>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" required asp-for="Nombre">
    </span>
    <span>
        <label for="precio">Precio real:</label>
        <input type="text" id="precio" required asp-for="Precio">
    </span>
    <span>
        <label for="promocion">Precio promoción:</label>
        <input type="text" id="promocion" required asp-for="PrecioDePromocion">
    </span>
    <span class="error">@Html.ValidationSummary(true)</span>

    <div class="botones">
        <input type="submit" value="Agregar" />
        <a href="~/Admin/menu">
            <input type="button" value="Cancelar" />
        </a>
    </div>
</form>

